

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="main.css" rel="stylesheet">
    <title>Chat</title>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
</head>
<body>
        <div class="" id="appNote">
            <div class="modal fade" id="noteerr" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ModalLabel">Notification</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id="bodyNote">

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="boxLoad" id="loading" v-if="show">
            <div class="rsize">
                <div class="spinner-border scale-100px" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <p class="te">Waiting</p>
            </div>
        </div>
        <div id="nameBox" v-if="show">
            <div id="login">
                <div class="top-left">
                        <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-warning" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-info" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-light" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow text-dark" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="container center-h-v">
                    <form class="d-flex" @submit="submitName">
                        <input class="form-control" placeholder="Michel" id="name" name="name" v-model="name">
                        <button type="submit" class="btn btn-primary ml-2" id="submit-name">Chat</button>
                    </form>
                </div>
            </div>
        </div>
        
        <div id="frame" v-if="show">
            
            <div class="content">
                <div class="contact-profile">
                    <img src="user.png" alt="" />
                    <p>{{ sa }}</p>
<!--                    <div class="social-media">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </div> -->
                </div>
                <div class="messages">
                    <ul class="ssc">
                        <li v-for="mess in messs" v-bind:class="mess.type">
                            <img src="user.png" :alt="mess.name" />
                            <p>{{ mess.text }}</p>
                        </li>
                    </ul>
                </div>
                <div class="message-input">
                    <div class="wrap">
                    <form @submit="send">
                    <input type="text" placeholder="Write your message..." v-model="text" />
                    <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>